<div class="content-container">

  <h1>Invoices</h1>
  <span><strong><%= @invoices.count %> Invoices</strong></span>

  <div class="content-subhead">
    <div>
      <%= form_tag(invoices_path, method: :get) do %>
        <span>Filter</span>
        <div>
          <div class="filter-input">
            <span>
              Status:
            </span>
            <%= select :filters, :status, Invoice::INVOICE_STATUSES.map { |s| [s] }, include_blank: true, selected: @status.present? ? @status : nil %>
          </div>
          <div>
            <div class="filter-input">
              <span>
                Emitter:
              </span>
              <%= select :filters, :emitter, User.all.collect{|u| [u.name, u.id]}, include_blank: true, selected: @emitter.present? ? @emitter : nil  %>
            </div>
          </div>
          <div>
            <div class="filter-input">
              <span>
                Receiver:
              </span>
              <%= select :filters, :receiver, User.all.collect{|u| [u.name, u.id]}, include_blank: true, selected: @receiver.present? ? @receiver : nil   %>
            </div>
          </div>
          <div>
            Amount Range from <%= text_field :filters, :amount_range_min, value: @range_min.present? ? @range_min : nil %>
            to <%= text_field :filters, :amount_range_max, value: @range_max.present? ? @range_max : nil %>
          </div>
          <div class="filter-buttons">
            <a href="/invoices" class="filter-btn-outline">Clear</a>
            <%= submit_tag "Search", class:"filter-btn"%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-between flex-column">
      <div class="zip-upload-container">
        <span class="h4"><strong>Create Invoices with ZIP:</strong></span>
        <%= form_tag upload_zip_file_path, method: :post, multipart: true do %>
          <%= label_tag 'ZIP file', 'Select ZIP archive' %>
          <%= file_field_tag 'zip_file' %>

          <%= submit_tag 'Submit' %>
        <% end %>
      </div>

      <div class="d-flex justify-content-between">
        <a href="<%= my_invoices_path %>" tager="_blank" class="filter-btn">
          My Invoices
        </a>
        <%= link_to 'New Invoice +', new_invoice_path, class:"filter-btn" %>
      </div>
    </div>
  </div>


  <table>
    <thead>
    <tr>
      <th>Invoice uid</th>
      <th>Status</th>
      <th>Emitter</th>
      <th>Receiver</th>
      <th>Amount cents</th>
      <th>Amount currency</th>
      <th>Emitted at</th>
      <th>Expires at</th>
      <th>Signed at</th>
      <th>Cfdi digital stamp</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.invoice_uid %></td>
        <td><%= invoice.status %></td>
        <td><%= invoice.emitter_name %></td>
        <td><%= invoice.receiver_name %></td>
        <td><%= invoice.amount_cents %></td>
        <td><%= invoice.amount_currency %></td>
        <td><%= invoice.emitted_at.strftime("%d/%m/%Y at %I:%M%p") %></td>
        <td><%= invoice.expires_at.strftime("%d/%m/%Y at %I:%M%p") %></td>
        <td><%= invoice.signed_at.strftime("%d/%m/%Y at %I:%M%p") %></td>
        <td><a href="/">QR</a></td>
        <td>
          <%= link_to 'Show', invoice %>
          <%= link_to 'Edit', edit_invoice_path(invoice) %>
          <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @invoices, renderer: BootstrapPagination::Rails, next_label: "Siguiente", previous_label: "Anterior" %>

</div>